<%- include("partials/header"); %>

<div class="homepage-title">
    <h1>Welcome Back</h1>
    <h1><%=user.firstName%>!</h1>
</div>

<form class="logout-container" action="/logout" method="POST">
    <button class="btn btn-secondary btn-lg submit-btn" type="submit">Log Out</button>
</form>

<%- include("partials/footer"); %>