<%- include("partials/header"); %>

<h1 class="page-title">Lift Buddy</h1>
<div class="form-container">
    <div class="form-title">Log Into Lift Buddy</div>
    <form class="login-form" action="/" method="POST">
        <div class="form-group login-form-item">
            <input class="form-control form-control-lg" type="text" name="username" placeholder="Username or Email " autocomplete="off">
        </div>
        <div class="form-group login-form-item">
            <input class="form-control form-control-lg" type="password" name="password" placeholder="Password " autocomplete="off">
        </div>
        <button class="btn btn-secondary btn-lg submit-btn" type="submit">Log In</button>
    </form>
    <div class="sign-up-btn"><a href="/signup">Sign Up</a></div>
</div>



<%- include("partials/footer"); %>
