<%- include("partials/header"); %>

<!-- <div class="page-title-container">
    <h1 class="page-title">Lift Buddy</h1>
</div> -->

<form class="login-form" action="/api/login" method="POST">
    <h3>Log In</h3>
    <div class="user-container">
        <input class="login-form-item" type="text" name="username" placeholder="Username or Email " autocomplete="off">
    </div>
    <div class="password-container">
        <input class="login-form-item" type="password" name="password" placeholder="Password " autocomplete="off">
    </div>
    <button class="submit-btn login-form-item" type="submit">Log In</button>
    <span class="sign-up-btn"><a href="/signup">Sign Up</a></span>
</form>


<%- include("partials/footer"); %>
