<%- include("partials/header"); %>

<h1>Login Page</h1>

<form class="login-form" action="/" method="POST">
    <div class="user-container">
        <label for="user">Username or Email: </label>
        <input type="text" name="user">
    </div>
    <div class="password-container">
        <label for="password">Password: </label>
        <input type="password" name="password">
    </div>
    <button class="submit-btn" type="submit">Login</button>
</form>

<span><a href="/signup">Sign Up</a></span>

<%- include("partials/footer"); %>
