<%- include("partials/header"); %>

<h1>Login Page</h1>

<form action="/" method="POST">
    <div>
        <label for="user">Username or Email: </label>
        <input type="text" name="user">
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="password" name="password">
    </div>
    <button type="submit">Login</button>
</form>

<%- include("partials/footer"); %>
