<%- include("partials/header"); %>

<h1>Sign Up</h1>

<form action="/api/users" method="POST">
    <div class="firstname-container">
        <input type="text" name="firstname" placeholder="First name">
    </div>
    <div class="lastname-container">
        <input type="text" name="lastname" placeholder="Last name">
    </div>
    <div class="email-container">
        <input type="text" name="email" placeholder="Email">
    </div>
    <div class="username-container">
        <input type="text" name="username" placeholder="Username">
    </div>
    <div class="password-container">
        <input type="password" name="password" placeholder="Password">
    </div>
    <button type="submit">Sign Up</button>
</form>

<span><a href="/">Log In</a></span>

<%- include("partials/footer"); %>

